<% show_links = defined?(show_links) ? show_links : false %>

<%= simple_form_for(
  resource,
  as: resource_name,
  url: registration_path(resource_name),
  html: { class: "form-horizontal" }
  ) do |f| %>


<div class="login-box">
      <div class="login-logo">
        <a href="http://localhost:3000">
			<%= image_tag "logo.png" %> 	
        </a>
      </div><!-- /.login-logo -->
      
      <div class="login-box-body">
		  <p class="login-box-msg">Castre-se para iniciar sua sessão</p>    
	      <div class="form-group has-feedback">
			   <%= f.input :name, required: true, label: false, wrapper: "inline", input_html: {placeholder: "Nome"} %>
            <span class="form-control-feedback"><i class="fa fa-user"></i></span> 
          </div>
          
          <div class="form-group has-feedback">
			  <%= f.input :email, required: true, label: false, wrapper: "inline", input_html: {placeholder: "E-mail"} %>
            <span class="form-control-feedback"><i class="fa fa-envelope"></i></span> 
          </div>
          
          <div class="form-group has-feedback">
			  <%= f.input :password, required: true, label: false, wrapper: "inline", input_html: {placeholder: "Senha"} %>
            <span class="form-control-feedback"><i class="fa fa-key"></i></span> 
          </div>

          <div class="form-group has-feedback">
			  <%= f.input :password_confirmation, required: true, label: false, wrapper: "inline", input_html: {placeholder: "Confirme sua Senha"} %>
            <span class="form-control-feedback"><i class="fa fa-key"></i></span> 
          </div>
          
         
          <div class="form-group has-feedback">
		
		  <div class="row">
            <div class="col-xs-6">
            <%= radio_button_tag :user_type, "client" %>
			<%= label_tag :userable_client, "Cliente" %>
            </div>
            <div class="col-xs-6">
            <%= radio_button_tag :user_type, "manager" %>
			<%= label_tag :userable_manager, "Lojista" %>		
            </div>
          </div>		
          </div>
          
          
          <div class="row">
            <div class="col-xs-12">
           		 <%= f.button :submit, "Experimente Grátis!", class: "btn btn-primary btn-block btn-flat" %>
            </div><!-- /.col -->
          </div>


        <div class="social-auth-links text-center">
          <p></p>
        </div><!-- /.social-auth-links -->

<!--
        <a href="#">I forgot my password</a><br>
        <a class="text-center" href="register.html">Register a new membership</a>
-->

      </div><!-- /.login-box-body -->
    </div>
	  
	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  	  

<% end %>

<% if show_links %>
  <%= render "devise/shared/links" %>
<% end %>
