<% @title ||= "Fidelis" %>

<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= @title %></title>
  <%= stylesheet_link_tag    'static_pages', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'static_pages', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <% if @no_follow %>
    <meta name="robots" content="nofollow" />
  <% end%>
</head>
<body>

  <div id="globalWrapper" class="localscroll content">
    <%= render "static_pages/header" %>
    <%= yield %>
    <%= render "static_pages/footer" %>
  </div>

</body>
</html>
